node_modules
.env*

# hardhat stuff
/cache
/artifacts

# typechain - we can remove later
/typechain
/typechain-types

# solidity coverage
/coverage
/coverage.json

# ignition
ignition/deployments/chain-31337
